In [1]:
from Univariate import Univariate
import pandas as pd
dataset=pd.read_csv("Placement.csv")

In [2]:
quan,qual=Univariate.quan_qual(dataset)

Variance & Standard Deviation

In [4]:
Univariate.descriptive_analysis(dataset, quan)

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108,67.3034,66.3332,66.3702,72.1006,62.2782,288655
Median,108,67,65,66,71,62,265000
Mode,1,62,63,65,60,56.7,300000
Q1:25th,54.5,60.6,60.9,61,60,57.945,240000
Q2:50th,108,67,65,66,71,62,265000
Q3:75th,161.5,75.7,73,72,83.5,66.255,300000
Q:99th,212.86,87,91.86,83.86,97,76.1142,671200
Q4:100th,215,89.4,97.7,91,98,77.89,940000
skewness,0,-0.132649,0.163639,0.244917,0.282308,0.313576,3.56975
kurtosis,-1.2,-0.60751,0.450765,0.0521433,-1.08858,-0.470723,18.5443
variance,3870,117.228,118.756,54.1511,176.251,34.0284,8.7343e+09
std_deviation,62.2093,10.8272,10.8975,7.35874,13.276,5.83338,93457.5